if SHIELD_FISTBOARD_LEFT

config ZMK_KEYBOARD_NAME
	default "fistboard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_FISTBOARD_LEFT || SHIELD_FISTBOARD_RIGHT

config ZMK_SPLIT
	default y
 

endif # ZMK_DISPLAY


endif
