#
# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_FISTBOARD_LEFT
	def_bool $(shields_list_contains,fistboard_left)

config SHIELD_FISTBOARD_RIGHT
	def_bool $(shields_list_contains,fistboard_right)
